* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #313174, #773f8d);
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 20px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

h3 {
  padding: 5px;
}

.container {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.container .avatar {
  display: flex;
  align-items: center;
}

.container .avatar h3 {
  margin-left: 10px;
  font-size: 16px;
  color: #313174;
}

.container .button {
  margin-left: auto;
}

.btn {
  background-image: linear-gradient(120deg, #313174, #773f8d);
  padding: 5px;
  color: #fff;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  transition: opacity 0.4s;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
    margin: 10px auto;
  }
}